apiVersion: v1
kind: Secret
metadata:
  name: secret
type: Opaque
stringData:
  USERNAME: 
  PASSWORD: 
  JWTSECRET: 
  GPTAPIKEY: 
  GOOGLECLIENTID: 
  GOOGLECLIENTSECRET:
  KAKAOCLIENTID: 
  KAKAOCLIENTSECRET: 
  AWSACCESSKEY: 
  AWSSECRETKEY: 
  MYSQLUSERNAME:
  MYSQLPASSWORD: 
  MYSQL_ROOT_PASSWORD