spring:
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://localhost:3306/myGPT?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
#    username: "piggle"
#    password: "123456789"
  datasource:
    driver-class-name: org.h2.Driverorg.hibernate.dialect.MySQLDialect
    url: jdbc:h2:mem:testMODE=MySQL;DATABASE_TO_LOWER=TRUE

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

#  jpa:
#    hibernate:
#      ddl-auto: create
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQLDialect
#        format_sql: true
#        show_sql: true
#    open-in-view: false
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        show_sql: true

springdoc:
  enable-data-rest: false
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
